* {
    box-sizing: border-box;
}
.container {
    /* background-color: rgb(192, 192, 218);
    border: solid 1px black; */
    height: 97vh;
    width: 213vh;
}
.container2 {
    display: grid;
    grid-template-rows: 75% 25%;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);

}

.container-interacao{
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;
}

.descubra {
    font-size: 100px;
}

.letras{
    font-size: 40px;
}

.forca {
    font-size: 40px;
    background-image: url("img/forca0.png");
    background-repeat: no-repeat;
    background-size: 98%;
}