* {
    box-sizing: border-box;
}
.container {
    height: 97vh;
    width: 213vh;
}
.container2 {
    display: grid;
    grid-template-rows: 75% 25%;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);

}

.container-interacao{
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;
}

.descubra {
    font-size: 100px;
}

.letras{
    font-size: 40px;
}

.forca {
    font-size: 40px;
    background-image: url("img/forca0.png");
    background-repeat: no-repeat;
    background-size: 98%;
}

.button {
    display: inline-block;
    padding:  0.9em;
    text-decoration: none;
    background: rgb(236, 241, 241);
    color: rgb(14, 13, 13);
    border: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.555);
    cursor: pointer;

    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.button:hover {
    background: rgb(193, 197, 197);
}
.press {
    box-shadow: 0 0 0 0 rgb(0, 0, 0), inset 3px 3px 3px rgb(61, 61, 61, 0.555);
    transform: translate(3px, 3px);
}